<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147877945888-49mgflgtsjf2rq1u7gqva17ok7ma8oah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147877945888-49mgflgtsjf2rq1u7gqva17ok7ma8oah</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>147877945888-2621caagin9geqitebv71lseqpa3vtjq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQxBQ1bBzxyLzRM0i9qLBvBYbVeiRVEX0</string>
	<key>GCM_SENDER_ID</key>
	<string>147877945888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Fone</string>
	<key>PROJECT_ID</key>
	<string>fone-1d6ec</string>
	<key>STORAGE_BUCKET</key>
	<string>fone-1d6ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147877945888:ios:3a54542c9be7da03e29245</string>
	<key>DATABASE_URL</key>
	<string>https://fone-1d6ec.firebaseio.com</string>
</dict>
</plist>